<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>Weather</title>
        <link href="assets/css/index.min.css" rel="stylesheet">
    </head>
    <body ng-app="myApp">

        <div class="row" ng-controller="mainCtrl">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <div class="panel panel-primary" style="margin-top:10%">
                    <div class="panel-heading ">
                        <div ng-show="gotData && !error">
                            <img ng-src="assets/images/icons/{{weather.weather[0].icon}}.png" alt="icon"/><br/> <strong>{{weather.name}}</strong>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p ng-show="gotData && !error">
                            <strong>Min Temp:</strong> <small>{{weather.main.temp_min}}&deg;C</small><br/>
                            <strong>Max Temp:</strong> <small>{{weather.main.temp_max}}&deg;C</small><br/>
                        </p>
                        <p ng-show="!gotData && !error">
                            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                            <span class="sr-only">Loading...</span>
                        </p>
                        <p ng-show="error">
                            {{gotError}}
                        </p>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-primary btn-lg btn-block glyphicon glyphicon-refresh" ng-click="getUserLocation()"></button>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <script src="assets/js/angular.min.js"></script>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/angular.min.js"></script>
        <script src="assets/js/app.js"></script>
        <script src="assets/js/mainCtrl.js"></script>
    </body>
</html>
